* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#hero {
	position: relative;
	background: url(img/main-bg.jpeg) no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100%;
	text-align: center
}

#hero-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

#nav {
	position: fixed;
	top: 0px;
	width: 100%;
}

#nav ul {
	margin-top: 20px;
}

#nav ul li {
	display: inline;
	margin: 0 10%;
	font-size: 2em;
	color: white;
	font-family: sans-serif;
	font-weight: 700;
}

#nav-ham {
	height: 50px;
	width: 50px;
	display: none;
}

.socials {
	height: 50px;
	width: 50px;
	display: none;
}

#hero-down-arrow {
	height: 75px; 
	width: 75px;
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translate(-50%,-50%);
}

#hero-text {
	color: white;
	font-family: sans-serif;
	font-weight: 700;
	font-size: 2em;
}

#your {
	font-size: 5em;
}









@media (max-width: 700px) {
	
	#nav ul {
		display: none;
	}
	
	#nav-ham {
		display: inline;
		margin: 20px 0 0 20px;
		position:absolute;
		left: 0px;
	}
	
	.socials {
		display: inline;
		position: absolute;
		right: 0px;
		margin: 20px 20px 0 0;
	}
	
	#twitter {
		margin-right: 100px;
	}
}